.main-content {
  display: flex;
  height: 100vh;
}

.left-half-main {
  width: 45vw;
  background-color: lightyellow;
}

.right-half-main {
  width: 55vw;
  background-color: lightslategray;
}

#map {
  height: 100%;
  width: 100%;
}

#play-controls{
  display: block;
}


.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: white;
  opacity: 0.4;
  stroke: white;
  stroke-width: 1;

}

