@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'),
      url('HelveticaNeueLTStd-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue LT Std';
}

.main-content {
  display: flex;
  height: 100vh;
}

.left-half-main {
  width: 650px;
  z-index: 50;
  background-color: #f2e9d4;
  box-shadow: 5px 0 10px 3px rgba(0, 0, 0, .4);
}

.right-half-main {
  flex: 1;
}

#map {
  height: 100%;
  width: 100%;
}

#play-controls{
  display: none;
  
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 100px;
  height: 100px;
  font: 10px sans-serif;
}

.base-circle {
  fill: white;
  opacity: 0.4;
  stroke: white;
  stroke-width: 1;
}

.header {
  background-color: black;
  height: 120px;
  text-align: center;
}

.banner {
  padding-top: 10px;
  color: white;
  font-size: 90px;
  margin: 0 auto;
}

.banner-white-line {
  margin-top: 10px;
  display: inline-block;
  border-style: none;
  height: 4px;
  width: 100%;
  background-color: white;
}

#ui-controls {
  width: 100%;
  box-sizing: border-box;
}

#svg-container {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  margin: 0;
}

.new-circle {
  fill: white;
  opacity: 0.4;
  stroke: white;
  stroke-width: 1;
  position: absolute;
}

.ui-circle-link {
  fill: white;
  stroke: black;
  stroke-width: 3;
  cursor: pointer;
  transition: .5s;
}

.ui-link {
  cursor: pointer;
}

.ui-circle, .ui-timeline-circle, .date-circle {
  fill: white;
  stroke: black;
  stroke-width: 3;
  transition: .5s;
}

.ui-circle-link:hover {
  fill: black;
}

.timeline-text {
  fill: #777777;
}

.timeline-text-time {
  font-size: 12px;
}

.date-selection {
  font-size: 14px;
  fill: #777777;
  cursor: pointer;
}

.date-selection:hover {
  font-size: 14px;
  fill: #000000;
}

